.header {
  padding-top: 79px;
  padding-bottom: 141px;

  background-color: #eeeff1;
}

.navbar {
  margin-bottom: 116px;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 40px;
}
.navbar__link {
  padding: 10px 3px 10px 0;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #000000;
}
.navbar__link--active {
  color: #34547a;

  font-weight: 500;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  max-width: 540px;
}
.content__title {
  margin-bottom: 35px;

  color: #000000;

  font-size: 3rem;
  font-weight: 500;
  line-height: 1.64;
}
.content__description {
  margin-bottom: 53px;

  color: #727272;

  line-height: 1.64;
}
.content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-width: 225px;
  min-height: 65px;
  padding: 0.5em;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #34547a;
}

.section {
  padding-top: 109px;
  padding-bottom: 90px;
}
.section__title {
  margin-bottom: 39px;

  text-align: center;

  color: #000000;

  font-size: 2rem;
  font-weight: 500;
}
.section__description {
  text-align: center;

  color: #727272;

  line-height: 1.64;
}

.achievements {
  padding: 100px 0 96px;

  color: #ffffff;
  background-color: #34547a;
}
.achievements__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  gap: 30px;
}
.achievements-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 20px;
}
.achievements-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 7px;
}
.achievements-item__number {
  font-size: 1.3125rem;
  font-weight: 500;
}
.achievements-item__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.process {
  padding-bottom: 2px;

  background-color: #eeeff1;
}
.process__description {
  margin-bottom: 57px;
}

.video {
  padding-bottom: 100px;

  background-color: #eeeff1;
}
.video__iframe {
  width: 100%;
  height: 600px;

  border: 0;
}

.footer {
  background-color: #34547a;
}
.footer__section {
  color: #ffffff;
}
.footer__section-name {
  padding-top: 36px;

  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.3;
}
.footer__section-description {
  padding-bottom: 53px;

  font-size: 0.8rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
}

.container {
  width: min(100% - 40px, 1110px);

  margin-inline: auto;
}

.container--sm {
  width: min(100% - 40px, 540px);
}

@media (max-width: 1280px) {
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-size: 1.5rem;

    gap: 40px;
  }
  .content__title {
    margin-bottom: 30px;

    font-size: 4rem;
  }
  .content__description {
    margin-bottom: 53px;

    color: #727272;

    font-size: 1.4rem;
    line-height: 1.64;
  }
  .content__link {
    min-width: 325px;
    min-height: 71px;
  }
  .section__title {
    margin-bottom: 39px;

    text-align: center;

    color: #000000;

    font-size: 3rem;
    font-weight: 500;
  }
  .section__description {
    text-align: center;

    color: #727272;

    font-size: 1.4rem;
    line-height: 1.64;
  }
  .footer__section-name {
    font-size: 1.9rem;
  }
  .footer__section-description {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-size: 1.8rem;

    gap: 20px;
  }
  .content__link {
    min-width: 350px;
    min-height: 75px;

    font-size: 1.2rem;
  }
  .video__iframe {
    height: 500px;
  }
  .footer__section-name {
    font-size: 2rem;
  }
  .footer__section-description {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-size: 1.9rem;

    gap: 20px;
  }
  .content__title {
    margin-bottom: 30px;

    font-size: 4rem;
  }
  .content__link {
    min-width: 400px;
    min-height: 75px;

    font-size: 1.2rem;
  }
  .section__title {
    margin-bottom: 39px;

    text-align: center;

    color: #000000;

    font-size: 4rem;
    font-weight: 500;
  }
  .section__description {
    text-align: center;

    color: #727272;

    font-size: 1.7rem;
    line-height: 1.64;
  }
  .video__iframe {
    height: 400px;
  }
  .footer__section-name {
    font-size: 2.2rem;
  }
  .footer__section-description {
    font-size: 1.8rem;
  }
}

@media (max-width: 375px) {
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-size: 2rem;
    line-height: 3;

    gap: 8%;
  }
  .navbar {
    margin-bottom: 70px;
  }
  .content__title,
  .content__description {
    text-align: center;
  }
  .content__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 100%;
    min-width: 225px;
    min-height: 65px;
  }
  .video__iframe {
    height: 300px;
  }
}
