$color-black: #000000;
$color-gray: #727272;
$color-gray-light: #eeeff1;
$color-light: #f9f9f9;
$color-primary: #34547a;
$color-white: #ffffff;
$container-primary: 1110px;
$container-sm: 540px;
$font-family: "Roboto", sans-serif;
$font-size: 16px;
$gap: 20px;
$gap-lg: $gap * 2;
$gap-md: $gap * 1.5;
$gap-sm: calc($gap / 2);
$letter-spacing: 0.1em;
$line-height: 1.2;
$line-height-lg: 1.64;